html, body {
margin:0px;
padding:0px;
height: 100%;
}

#wrapper
{
	min-height: 100%;
	position: relative;
}

#c-wrapper
{
margin:0 auto;
min-width: 650px;
max-width: 960px;
    padding-bottom:3em;
}

#overall-header
{
	background: #4a433c none;
	text-align: center;
	font-size: 11pt;
}

.overall-header-home #overall-header
{
	background: transparent url("http://static.wz2100.net/theme/addons-header-bg.png") no-repeat scroll center top;
}
.overall-header-home
{
	background: #3e4754 url("http://static.wz2100.net/theme/addons-header-bg-repeat.png") repeat-x scroll left top;
}
.overall-header-guide #overall-header
{
	background: transparent url("http://static.wz2100.net/theme/guide-header-bg.png") no-repeat scroll center top;
}
.overall-header-guide
{
	background: #3e4754 url("http://static.wz2100.net/theme/guide-header-bg-repeat.png") repeat-x scroll left top;
}
.overall-header-addons #overall-header
{
	background: transparent url("http://static.wz2100.net/theme/addons-header-bg.png") no-repeat scroll center top;
}
.overall-header-addons
{
	background: #3e4754 url("http://static.wz2100.net/theme/addons-header-bg-repeat.png") repeat-x scroll left top;
}

#overall-header div
{
	padding: 5px 0 2px 0;
	text-align: center;
}
#overall-header div img
{
}
#overall-header div a
{
	border: 0;
	opacity: 1.0;
	background: transparent;
}
#overall-header div a:hover
{
	opacity: 0.85;
	background: transparent;
}

#overall-header ul
{
	display: block;
	margin: 0;
	padding: 5px 0 2px 0;
	border-bottom: 1px solid #555555;
	font-size: 1px;
}
#overall-header li
{
	display: inline;
	margin: 0 1px;
	padding: 0;
	list-style: none;
	font-size: 11pt;
}
#overall-header li a
{
	display: inline;

	background: #FFFFFF none;
	color: #555555;
	border-top: 1px solid #555555;
	border-left: 1px solid #555555;
	border-right: 1px solid #555555;
	border-bottom: 0;
	padding: 3px 5px 2px 5px;

	position: relative;
	text-decoration: none;
	opacity: 0.7;
	filter: alpha(opacity=80);
}

#overall-header li.tab-home a
{
	padding-left: 23px;
	background: #FFFFFF url("http://static.wz2100.net/theme/icon-home.gif") no-repeat scroll 4px 4px;
}
#overall-header li.tab-download a
{
	padding-left: 23px;
	background: #FFFFFF url("http://static.wz2100.net/theme/icon-download.gif") no-repeat scroll 4px 4px;
}
#overall-header li.tab-forum a
{
	padding-left: 23px;
	background: #FFFFFF url("http://static.wz2100.net/theme/icon-forum.gif") no-repeat scroll 4px 4px;
}
#overall-header li.tab-faq a
{
	padding-left: 23px;
	background: #FFFFFF url("http://static.wz2100.net/theme/icon-faq.gif") no-repeat scroll 4px 4px;
}
#overall-header li.tab-guide a
{
	padding-left: 23px;
	background: #FFFFFF url("http://static.wz2100.net/theme/icon-guide.gif") no-repeat scroll 4px 4px;
}
#overall-header li.tab-addons a
{
	padding-left: 23px;
	background: #FFFFFF url("http://static.wz2100.net/theme/icon-addons.gif") no-repeat scroll 4px 4px;
}
#overall-header li.tab-dev a
{
	padding-left: 23px;
	background: #FFFFFF url("http://static.wz2100.net/theme/icon-dev.gif") no-repeat scroll 4px 4px;
}

#overall-header li a:hover
{
	padding-top: 3px;
	padding-bottom: 3px;
	top: -1px;
	opacity: 0.9;
	filter: alpha(opacity=95);
}

#overall-header li.cur
{
	background: #FFFFFF;
	padding-bottom: 6px;
}
#overall-header div.overall-header-shadow
{
	border-top: 1px solid #BBBBBB;background:#DDDDDD;height:1px; overflow:hidden;
	padding:0;margin:0;
}

#overall-header li.cur a,
#overall-header li.cur a:hover
{
	padding-top: 3px;
	padding-bottom: 5px;
	opacity: 1.0;
	filter: alpha(opacity=100);
	top: -2px;
	color: #0a0a0a;
	/* background: #ffffff url(/theme/home-bg.png) no-repeat fixed center top; */
}


.warzone-footer
{
	position: absolute;
	left: 0; right: 0; bottom: 0;
	width: 100%;
	padding: 10px 0;
	border-top: 1px solid #555555;
	background: #253A4C none;
	text-align: center;
	font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
}
.warzone-footer ul
{
	display: block;
	margin: 0;
	padding: 0;
}
.warzone-footer li
{
	display: inline;
	margin: 0;
	padding: 0 1px;
	list-style: none;
}
.warzone-footer a
{
	color: #cccccc;
	background: transparent;
	border: 0;
	padding: 2px 4px;
	text-decoration: none;
}
.warzone-footer a:hover
{
	color: #ffffff;
	background: #30455C;
	border: 0;
}

#translation_status
{
	list-style-type: none;
}

#translation_status li
{
	width: 450px;
	font-size: 16px;
	line-height: 20px;
	text-align: right;
}

#translation_status .translation_complete
{
	color: green;
}

#translation_status .translation_unfinished
{
	color: orange;
}

#translation_status .translation_incomplete
{
	color: red;
}

#translation_status span
{
	display: block;
	height: 16px;
}

#translation_status .messages_translated span
{
	float: right;
}

#translation_status strong, #translation_status img
{
	float: left;
}

#translation_status img
{
	margin: 2px 5px 0 2px;
}

#translation_status .messages_translated
{
	margin: 2px 0 2px 5px;
	float: right;
	background: green;
	background-image: linear-gradient(bottom, rgb(0,128,0) 0%, rgb(0,255,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,128,0) 0%, rgb(0,255,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,128,0) 0%, rgb(0,255,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,128,0) 0%, rgb(0,255,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,128,0) 0%, rgb(0,255,0) 100%);
}

#translation_status .messages_untranslated
{
	background: red;
	background-image: linear-gradient(bottom, rgb(128,0,0) 0%, rgb(255,0,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(128,0,0) 0%, rgb(255,0,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(128,0,0) 0%, rgb(255,0,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(128,0,0) 0%, rgb(255,0,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(128,0,0) 0%, rgb(255,0,0) 100%);
}

#translation_status .messages_fuzzy
{
	background: blue;
	background-image: linear-gradient(bottom, rgb(0,0,128) 0%, rgb(0,0,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,128) 0%, rgb(0,0,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,128) 0%, rgb(0,0,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,128) 0%, rgb(0,0,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,128) 0%, rgb(0,0,255) 100%);
}
